/* Displays */
.GroupsPage,
.HomeworksPage,
.ProblemsPage,
.ProblemPage,
.ProfilePage,
.CreateProblemPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 300px;
}

/*Pagina createProblem*/

.CreateProblemPage{
  font-size: 20px;
  justify-content: flex-start;
  width: 600px;
  align-items: left;
  padding: 20px;
  border-radius: 28px;
  border: 1px solid black;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75);
  min-height: 730px;
}

.problemNameSection,
.problemCategorySection,
.problemDifficultySection,
.problemDescriptionSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}



.problemNameSection input,
.problemDescriptionSection textarea,
.problemCategorySection input
{
  background: none;
  border-radius: 28px;
  outline: none;
  height: 40px;
  font-size: 16px;
  padding: 10px; /* Added padding for all sides */
  width: calc(100% - 20px);
}

.problemNameSection input,
.problemCategorySection input{
  width: 350px;
}

.problemDescriptionSection textarea{
  width: 500px;
  height: 300px;
  resize: none;
}


#submitButton
{
  background: lightgrey;
  border-radius: 28px;
  padding: 10px;
  cursor: pointer;
}

#jsonImportButton
{
  background: lightgrey;
  border-radius: 28px;
  padding: 10px;
  cursor: pointer;
}



/*Pagina Profil*/

.ProfilePage {
  position: absolute;
  top:15%;
  width: 300px;
  background: white;
  border-radius: 28px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75);
  user-select: none;
}

.ProfilePage h1 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid black;
}

.profileContent{
  padding: 10px 0px 10px;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileContent h5{
  text-align: center;
  padding-top:10px;
  margin-top: 15px;
  border-top: 1px solid black;
}

.NumePrenume,
.Mail,
.Password
{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NumePrenume input,
.Mail input,
.Password input
{
  background: none;
  border-radius: 28px;
  outline: none;
  height: 40px;
  font-size: 16px;
  padding: 10px; /* Added padding for all sides */
  width: calc(100% - 20px);
}

.profileButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}

#deleteProfile
{
  background: #fd4444;
  border-radius: 28px;
  padding: 10px;
  cursor: pointer;
}

#editProfile
{
  background: lightgrey;
  border-radius: 28px;
  padding: 10px;
  cursor: pointer;
}

.GroupsPage{
  flex-direction: row;
  flex-wrap: wrap;
}

/*Item*/
.group,
.homework,
.problem {
  cursor: pointer;
  display: flex;
  position: relative;
  width: 100%;
  min-height:10em ;
  background: #ffac1c;
  border-radius: 24px;
  margin-bottom: 5px;
  text-overflow: hidden;
}

.group{
  min-width: 240px;
  width:32%;
  margin-left: 5px;
  margin-right: 5px;
}


/*problem things*/
.problem{
  flex-direction: column;
}

.details{
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  
  justify-content: space-between;
}

.id-name, .category-diff{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.problem-id, .problem-name, .problem-category, .problem-diff{
  padding: 3px 5px 3px 5px;
  margin: 2px 2px 2px 2px;
  border-radius: 28px;
  background-color: white;
}

.description{
  display: flex;
  margin:0px 15px 15px 15px;
  padding:6px;
  background-color:white;
  border-radius:14px;
  flex-wrap: wrap;
  overflow: hidden;
  height: 100%;
}

/*group things*/

.group{
  flex-direction: row;
  align-items: center;
}

.group-title{
  margin:25px;
  padding: 10px;
  background-color: white;
  border-radius: 14px;
  font-size:50px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
}

.group-label{
  margin:10px;
  padding: 10px;
  max-width:55%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: white;
  border-radius: 14px;
  font-size:36px;
  font-weight: bolder;
}

.group-label.overflowing{
  font-size: 80%; 
}


/*problem-show*/

.problem-container{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  width: 100%;
  min-height:10em ;
  text-overflow: hidden;
}

.up-section{
  display: flex;
  justify-content: space-between;
}

.up-section .problem-id,.problem-name{
  background-color: #ffac1c;
  padding-left: 8px;
  padding-right: 8px;
}

.up-section .problem-category{
  background-color: #FBCEB1;
}

.left-section{
  display: flex;
  flex-direction: row;
}

.json-export{
  align-self: flex-start;
  padding:5px;
  border: none;
  background-color: #c9c6c6;
  border-radius: 28px;
  margin-top: 10px;
  cursor: pointer;
}

.json-export:hover,
.jsonImportButton:hover{
  background-color: #6d6c6c;
  transition: 0.3s;
}

.right-section{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.description-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.description-section .description{
  flex-grow: 1;
  border:5px;
  margin:5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
}
/*Submit solution*/
.submit-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
}

.solution-box {
  width: 100%;
  height: 400px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 14px;
  border: 1px solid #ccc;
  resize: none; 
  overflow: auto; 
}

.submit-button {
  align-self: center;
  padding: 10px 20px;
  border: none;
  border-radius: 28px;
  background-color: #ffac1c;
  cursor: pointer;
  margin-bottom: 20px;
}

.submit-button:hover {
  background-color: #FBCEB1;
  transition: 0.3s;
}

/*see submissions*/

.submissions-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
}

.submissions-section h3 {
  margin-bottom: 10px;
}

.submissions{
  display: flex;
  flex-direction: row;
}

.submission-box {
  cursor: pointer;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.submitter-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.class-subject {
  color: #555;
}

/*grading*/


.star-rating {
  display: flex;
  flex-direction: row;
  align-items:center;
  font-size: 40px; 
}

.star {
  cursor: pointer;
  color: #ccc; /* Default star color */
}

.star:hover,
.star.selected {
  color: #ffac1c; /* Highlighted star color */
}

/*Paginare*/

.paginare {
  height: 10%;
  margin-top: 20px;
  user-select: none;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.links,
.link {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginare {
  padding: 20px;
  border-radius: 8px;
  column-gap: 12px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.button {
  border: none;
}
.button i {
  pointer-events: none;
}
.button:disabled {
  color: #b3b3b3;
  pointer-events: none;
}
.button,
.link {
  height: 45px;
  width: 45px;
  font-size: 20px;
  color: #666666;
  background-color: #f2f2f2;
  border-radius: 6px;
  cursor: pointer;
}
.links {
  column-gap: 12px;
}
.link {
  font-weight: 500;
  text-decoration: none;
}
.button:hover,
.link:hover {
  color: #fff;
  background: #fbceb1;
}
.link.active {
  color: #000000;
  background: #fbceb1;
}
/*Create New*/

.createForm {
  width: 300px;
  background: white;
  border-radius: 28px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75);
  user-select: none;
}
.createForm h1 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid black;
}

.createForm form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .text-field {
  position: relative;
  border-bottom: 2px solid #666666;
  margin: 30px 0;
}

.text-field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.text-field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #666666;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}

.text-field span::before {
  content: "";
  position: absolute;
  top: 40px;
  height: 2px;
  background: #fbceb1;
  transition: 0.5s;
}

.text-field input:focus ~ label,
.text-field input:valid ~ label {
  top: -1px;
  color: #fbceb1;
}

.createForm input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #fbceb1;
  border-radius: 30px;
  font-size: 18px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  margin-bottom: 15px;
}

.createForm .dropdown {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}

.createForm .dropdown ul {
  width: 100%;
}
